#!/usr/bin/make -f

export PYBUILD_NAME=kivy
export KIVY_NO_CONFIG=1


%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installdocs:
	make clean;
	patch doc/sources/conf.py < kivy-ppa-patches/disable-sphinxcontrib-jquery.patch;
	cd doc && make html;
	dh_installdocs

override_dh_auto_test:
	#xvfb-run -s "+extension GLX" dh_auto_test
	echo "! TESTS ARE TEMPORARY DISABLED !"