name: macOS Test

on:
  push:
    paths:
      - 'osx/**'
      - '.github/workflows/test_macos.yaml'
  pull_request:
    paths:
      - 'osx/**'
      - '.github/workflows/test_macos.yaml'

jobs:
  build_dmg:
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        # macos-latest (ATM macos-14) runs on Apple Silicon,
        # macos-13 runs on Intel
        runs_on: [macos-latest, macos-13]
    name: macOS build dmg ( ${{ matrix.runs_on }} )
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install Platypus
        run: |
          source ci/osx_ci.sh
          install_platypus
      - name: Install build dependencies
        run: |
          brew install pkg-config cmake ninja
      - name: Create macOS App Bundle with extras [dev]
        run: |
          source ci/osx_ci.sh
          cd osx
          ./create-osx-bundle.sh -e "dev"
      - name: Test Fix bundle metadata
        run: |
          source ci/osx_ci.sh
          cd osx
          ./fix-bundle-metadata.sh build/Kivy.app -v "1.2.3"
          ./fix-bundle-metadata.sh build/Kivy.app -v "master"
      - name: Test Relocation
        run: |
          source ci/osx_ci.sh
          cd osx
          ./relocate.sh build/Kivy.app
      - name: Test dmg creation and store it in osx_artifacts
        run: |
          source ci/osx_ci.sh
          cd osx
          ./create-osx-dmg.sh build/Kivy.app Kivy
          cd ..
          mkdir osx_artifacts
          mv osx/Kivy.dmg osx_artifacts/${{ matrix.runs_on }}-Kivy.dmg
      - name: Upload dmg as artifact
        uses: actions/upload-artifact@v4.4.2
        with:
          name: KivySDKPackager-${{ matrix.runs-on }}
          path: osx_artifacts

  test_dmg:
    needs: build_dmg
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        # macos-latest (ATM macos-14) runs on Apple Silicon,
        # macos-13 runs on Intel
        runs_on: [macos-latest, macos-13]
    name: macOS test dmg ( ${{ matrix.runs_on }} )
    steps:
      - uses: actions/checkout@v4
      - name: Download dmg from artifacts
        uses: actions/download-artifact@v4.1.8
        with:
          path: osx_artifacts
          pattern: KivySDKPackager-*
          merge-multiple: true
      - name: Mount build from macos-latest runner on macos-13 runner
        if: ${{ matrix.runs_on  == 'macos-13' }}
        run: hdiutil attach osx_artifacts/macos-latest-Kivy.dmg -mountroot .
      - name: Mount build from macos-13 runner on macos-latest runner
        if: ${{ matrix.runs_on  != 'macos-latest' }}
        run: hdiutil attach osx_artifacts/macos-13-Kivy.dmg -mountroot .
      - name: Copy Kivy.app to Applications
        run: cp -R Kivy/Kivy.app /Applications/Kivy.app
      - name: Activate Kivy.app venv and test kivy
        run: |
          source ci/osx_ci.sh
          activate_app_venv_and_test_kivy