name: Angle wheels

on:
  push:
    branches:
      - master
      - windows_ci
    paths:
      - 'win/common.py'
      - 'win/angle.py'
      - '.github/workflows/windows_angle_wheels.yml'
      - 'ci/windows_ci.ps1'

env:
  SERVER_IP: '159.203.106.198'
  KIVY_BUILD_DIR: angle_dlls
  KIVY_BUILD_CACHE: kivy_build_cache
  PACKAGE_TARGET: angle
  PYTHONPATH: .

jobs:
  prepare_angle:
    runs-on: windows-latest
    env:
      DEPOT_TOOLS_WIN_TOOLCHAIN: 0
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Get dependecies
        run: |
          . .\ci\windows_ci.ps1
          Get-angle-deps
      - name: Build dependecies
        run: |
          . .\ci\windows_ci.ps1
          Build-angle
      - uses: actions/upload-artifact@v4.1.7
        with:
          name: angle_dlls
          path: angle_dlls


  windows_wheels:
    runs-on: windows-latest
    needs: prepare_angle
    strategy:
      fail-fast: false
      matrix:
        python: [ '3.8', '3.9', '3.10', '3.11', '3.12', '3.13-dev' ]
        arch: ['x64']
    env:
      PACKAGE_ARCH: ${{ matrix.arch }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
        architecture: ${{ matrix.arch }}
    - name: Prepare Environment
      run: |
        . .\ci\windows_ci.ps1
        Prepre-env
    - uses: actions/download-artifact@v4.1.7
      with:
        name: angle_dlls
        path: angle_dlls
    - name: Build package
      run: |
        . .\ci\windows_ci.ps1
        Create-Packages
    - name: Upload wheels as artifact
      uses: actions/upload-artifact@v4.1.7
      with:
        name: angle_wheels
        path: dist
    - name: Install MSYS2
      run: choco install msys2
    - name: Upload wheels to server
      if: contains(github.event.head_commit.message, '[publish angle win]')
      env:
        UBUNTU_UPLOAD_KEY: ${{ secrets.UBUNTU_UPLOAD_KEY }}
        MSYSTEM: MINGW64
        CHERE_INVOKING: 1
      run: |
        . .\ci\windows_ci.ps1
        Upload-windows-wheels-to-server -ip "$env:SERVER_IP"
    - name: Publish to PyPI
      if: contains(github.event.head_commit.message, '[publish angle win]')
      env:
        TWINE_USERNAME: "__token__"
        TWINE_PASSWORD: ${{ secrets.pypi_password }}
      run: |
        twine upload --non-interactive dist/*
    - name: Test package
      run: |
        . .\ci\windows_ci.ps1
        Test-kivy
